<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h5> Hola <strong>{{ first_name }}</strong>, {{ project_owner_name }} quiere añadirte al proyecto: </h5>
<br>
<h5> {{ project_name }} </h5>

<h5> Si lo deseas, puedes aceptar esta invitación en el siguiente </h5>
<a href="{{ url }}"> enlace</a>
<h5> Caso contrario, omite este email </h5>


</body>
</html>